# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore DS Store
.DS_Store

# Ignore files that have passwords in them
/db/seeds.rb
/config/database.yml