<h1>User List</h1>

<div class="userPanel">
  <h2>Listing All Users</h2>

  <% user_count = 0 %>
    <% User.all.each do |user| %>
    <% user_count += 1 %>

    <div class="userRow <%= user_count % 2 == 0 ? "darkRow" : "lightRow" %>">
      <%= user.login %>
    </div>
  <% end %>
</div>
