<% title "New User" %>
<div id="newUserTitle">
  <h1>Howdy Partner</h1>
  <h2>It's always nice to see a new face.</h2>
</div>

<div id="newUser">
  <h1>New User Registration</h1>
  <%= render @user %>
</div>
