<div class="tournamentColumnNames">
  <div class="tournamentAttribute tournamentStartTime">Starts In</div>
  <div class="tournamentAttribute tournamentOpenSpots">Open Spots</div>
  <div class="tournamentAttribute tournamentPrize">Prize Pool</div>
  <div class="tournamentAttribute tournamentName">Name</div>
</div>
