<div style="height: 5px; background-color: #BB3900;"></div>
<div id="sidebarContent">
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
  Here is the sidebar content.
</div>
