<h1 id="homeWelcome">Welcome to Cloud Leagues</h1>

<div class="homePanel">
  <h2>What is Cloud Leagues?</h2>
  <p>
    <b>Cloud Leagues</b> is a free online service that allows you to play Starcraft online for fame, and sometimes fortunes. There are tournaments hosted at regular intervals, so you can always participate in a competetive Starcraft experience. 
  </p>
</div>
  
<div class="homePanel">
  <h2>How do you participate?</h2>
  <p>
    Participation is easy. Simply click the link in the top right to register an account. Once you do that, fill in your Starcraft account information, including your Username, Character Code, and Race. Then, you can browse the active tournaments, and find one that accomidates your time frame and play level.
  </p>
</div>

<div class="homePanel">
  <h2>Can I create my own tournament?</h2>
  <p>
    Right now, no. Sorry, but it's a lot of work programming all of these features! Currently, the team only consists of one person, but I have the programming power of at least 20 people my size. Check back regularly for updates. Some things to look forward to:
    <ul>
      <li>Create your own tournaments.</li>
      <li>Participate in a custom league</li>
      <li>Create your own private league, to create a competitive place for you and your friends.</li>
    </ul>
  </p>
</div>
