<h1><%= "#{@user.login}'s Profile" %></h1>

<ul>
  <li>
    Reddit Name:
    <%= @user.reddit_name %>
  </li>

  <li>
    Starcraft Character Name:
    <%= @user.character_name %>
  </li>

  <li>
    Role:
    <%= @user.role %>
  </li>
</ul>
  
