#guestWelcome {
    margin-bottom: 0;
}

.guestQuestion {
    background-color: #FFF;
    border-bottom: 1px solid #222;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;

    h2 {
	margin-top: 0;
    }

    p {
	margin-bottom: 20px;
    }
}