#lostPasswordTitle {
    h1 {
	margin-top: 15px;
	margin-bottom: 0;
    }

    h2 {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
    }
}

#lostPassword {
    background-color: #FFFFFF;
    border-bottom: 1px solid #222222;
    padding: 15px;
    margin-top: 13px;

    h2 {
	margin-top: 0;
	margin-bottom: 15px;
    }
}