$header_height: 75px;
$header_bg_color: #222;

$nav_active_border: #551A00;
$user_nav_active_border: #ECECEC;

$site_width: 900px;
$sidebar_width: 250px;
$logo_width: 150px;
$site_nav_width: ($site_width - $logo_width) / 2;

body {
    background-color: #F1F1EC;
    font-color: #222;
}

header {
    height: $header_height;
    background-color: $header_bg_color;
    text-align: center;
    font-size: 0;
}

#headerLogo {
    display: inline-block;
    width: $logo_width;
}

#siteNavigation {
    display: inline-block;
    width: $site_nav_width;
    text-align: left;
    vertical-align: top;
    height: $header_height;
}

#userNavigation {
    display: inline-block;
    width: $site_nav_width;
    vertical-align: top;

    text-align: right;
}

#mainContainer {
    width: $site_width + 4;
    margin: auto;
    font-size: 0;

    #noticeContainer {
	width: $site_width - 2;
	margin-top: 5px;

	border: 1px solid #FF9E74;
	background-color: #FFF1EB;

	#notice {
	    width: $site_width - 55;
	    display: inline-block;
	    padding: 15px;

	    font-size: 12px;
	    color: #E37241;
	}

	#closeNotice {
	    display: inline-block;
	    vertical-align: top;
	    margin-top: 5px;
	    margin-left: 5px;

	    font-size: 12px;

	    a { 
		display: block; 
		&:focus { outline: 0; }
	    }
	}
    }
}

#mainContent {
    width: $site_width - $sidebar_width;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-top: 5px;
    border-top: 5px solid #BB3900;
}

#sidebar {
    width: 254px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-top: 5px;

    #sidebarAd {
	height: 250px;
	width: 250px;
	display: inline-block;
	overflow: hidden;

	border-top: 5px solid #BB3900;
    }
    
    #sidebarContent {
	width: 254px;

	.ribbonTitle {
	    display: inline-block;
	    width: 250px;
	    height: 27px;
	    padding-top: 10px;
	    background-color: #BB3900;
	    
	    text-align: center;
	    font-size: 10pt;
	    font-family: georgia, serif;
	    letter-spacing: 3px;
	    color: #F1F1EC;
	}

	#leaderboard {
	    font-size: 0;

	    #noTopPlayers { 
		font-size: 12px; 
		padding: 10px; 
		background-color: #E3E3E3; 
	    }
	    
	    .topPlayerRow {
		background-color: #E3E3E3;
		border-bottom: 1px solid #A3A19B;

		.userPortrait {
		    display: inline-block;
		    -moz-border-radius: 2px;
		    border-radius: 2px;
		    background-color: #797470;
		    
		    height: 35px;
		    width: 35px;
		    margin: 3px;

		    overflow: hidden;
		}

		.leaderboardUserInfo {
		    display: inline-block;
		    vertical-align: top;

		    padding-top: 3px;
		    padding-left: 5px;

		    font-size: 12px;

		    .leaderboardUserStats { 
			padding-left: 1px;
			font-size: 10px;
			font-weight: bold;
			color: #797470;
		    }

		    a { 
			font-size: 16px; 
			font-weight: bold; 
			text-decoration: none; 

			&:hover { text-decoration: underline; }
		    }
		}
	    }
	}

	#biggestPrizePools {
	    #biggestPrizePoolsMenu {
		text-align: center;
		font-size: 0;
		background-color: #E3E3E3;

		a {
		    display: inline-block;

		    border-bottom: 1px solid #797470;
		    border-right: 1px solid #797470;

		    padding-top: 5px;
		    padding-left: 9px;
		    padding-right: 9px;
		    padding-bottom: 5px;

		    &:focus { outline: 0; }
		}

		#gmTab { padding-left: 11px; }
		#bronzeTab { border-right: 0; padding-right: 11px; }
	    }
	    
	    .biggestPrizePoolsContent { 
		font-size: 12px; display: none;

		.largePrizeRow {
		    height: 31px;
		    background-color: #E3E3E3;
		    border-bottom: 1px solid #A3A19B;

		    padding: 5px;

		    .largePrizeTournamentInfo {
			padding-left: 1px;

			font-size: 10px;
			font-weight: bold;
			color: #797470;
		    }

		    a {
			font-size: 16px; 
			font-weight: bold; 
			text-decoration: none; 
			
			&:hover { text-decoration: underline; }
		    }
		}

		.noLargePrizeToDisplay {
		    text-align: center;
		    color: #BCBCBC;
		    font-weight: bold;

		    p { margin: 0; padding: 0; margin-top: 8px; }
		}
	    }
	}
    }

    #additionalLinkList {
	font-size: 12px;
	background-color: #E3E3E3;

	ul { margin: 0; padding: 0; list-style: none; }
	ul li a {
	    display: block;
	    padding-top: 10px; 
	    padding-bottom: 9px;
	    padding-left: 5px;

	    border-bottom: 1px solid #A3A19B;
	    text-decoration: none;

	    &:focus { outline: 0; }
	    &:hover { background-color: #F1F1EC; }
	}
    }

    .sidebarLeft {
	width: 248px;
	display: inline-block;

	border-left: 1px solid #797470;
	border-right: 1px solid #797470;
    }

    .ribbonFold {
	display: inline-block;
	vertical-align: top;
	width: 4px;

	img { position: absolute; }	
    }

    #sidebarFooter {
	.sidebarLeft { border-bottom: 1px solid #797470; }

	margin-bottom: 15px;
    }
}

footer {
    width: $site_width;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navButtons {
    height: 41px;
    margin-top: 16px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;

    border: 1px solid #982E00;

    .button_outer {
	border-right: 1px solid #982E00;
	border-left: 1px solid #FF4D00;
	display: inline-block;
	height: 41px;
	background-image: url(/assets/nav_buttons_bg.png);

	&:hover { background-image: url(/assets/nav_buttons_bg_hover.png); }
	&:active { border-right: 1px solid $nav_active_border; }
    }

    a.button_inner {
	height: 28px;
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	
	font-family: Ariel, Sans-Serif;
	font-weight: bold;
	font-size: 13px;
	color: #F1F1EC;
	text-decoration: none;
	display: block;

	&:active {
	    padding-top: 12px;
	    padding-left: 9px;
	    height: 27px;
	    border: 1px solid $nav_active_border;
	    border-right: 0;
	}
	
	&:focus { outline: 0; }
    }

    .first_button {
	border-left: none;
    }
    
    .last_button {
	border-right: 1px solid transparent;
    }
}

.userPane {
    height: 41px;
    margin-top: 16px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font-size: 0;

    border: 1px solid #797470;
    background-image: url(/assets/user_nav_bg.png);

    .userPortrait {
	display: inline-block;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #797470;

	height: 35px;
	width: 35px;
	margin-top: 3px;
	margin-left: 3px;

	overflow: hidden;
    }

    .button_outer {
	border-left: 1px solid #797470;
	border-right: 1px solid #F1F1EC;
	display: inline-block;
	height: 41px;
	vertical-align: top;

	&:hover { background-image: url(/assets/user_nav_bg_hover.png); }
	&:active { border-right: 1px solid $user_nav_active_border; }
    }

    a.button_inner {
	height: 28px;
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;

	font-family: Ariel, Sans-Serif;
	font-weight: bold;
	font-size: 13px;
	color: #BB3900;
	text-decoration: none;
	display: block;

	&:active {
	    padding-top: 12px;
	    padding-left: 9px;
	    height: 27px;
	    border: 1px solid $user_nav_active_border;
	    border-right: 0;
	}

	&:focus { outline: 0; }
    }

    .last_button {
	border-right: 1px solid transparent;
    }

    .dropMenu {
	dt a {
	    width: 7px;
	    background: url(/assets/user_nav_arrow.png);
	    background-repeat: no-repeat;
	    -webkit-background-origin: content-box;
	    background-origin: content-box;
	    
	    &.selected {
		background: url(/assets/user_nav_arrow_active.png);
		background-repeat: no-repeat;
		-webkit-background-origin: content-box;
		background-origin: content-box;
	    }
	}
	
	dd {
	    padding: 0;
	    margin: 0;
	    position: relative;

	    ul {
		margin: 0;
		padding: 0;
		position: absolute;
		left: -51px;
		display: none;
		list-style-type: none;

		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border: 1px solid #797470;
		border-top: 0;
		background-color: #F1F1EC;
		background-image: url(/assets/arrow_menu_gradient.png);
		background-repeat: repeat-x;
		
		text-align: left;
		font-size: 10px;

		a {
		    display: block;
		    width: 75px;
		    padding-top: 5px;
		    padding-bottom: 7px;
		    padding-left: 3px;

		    font-family: Ariel, Sans-Serif;
		    font-size: 11px;
		    color: #797470;
		    text-decoration: none;
		    curson: pointer;

		    &:hover {
			background-color: #CECDC6;
			color: #BB3900;
		    }

		    &:focus { outline: 0; }
		}
	    }
	}
    }
    
    ul.userInformation {
	display: inline-block;
	padding: 0;
	
	font-size: 11px;
	text-align: center;
	
	list-style-type: none;
	vertical-align: top;
	
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 7px;
	margin-bottom: 0;
    }
}

#submitButton {
    margin-top: 10px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    font-family: Ariel, Sans-Serif;
    font-weight: bold;
    font-size: 13px;
    color: #F1F1EC;
    
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #222;
    
    background-color: #CB450A;
    
    &:hover {
	background-color: #E55718;
	text-decoration: underline;
    }
}

.actionLinksContainer {
    .actionLinks {
	display: inline-block;

	background-color: #CECDC6;
	background-image: url(/assets/action_links_bg.png);
	background-repeat: repeat-x;

	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #FFFFFF;

	font-size: 0;

	a {
	    display: inline-block;

	    padding-top: 8px;
	    padding-bottom: 7px;
	    padding-left: 5px;
	    padding-right: 5px;

	    border-left: 1px solid #D9D9D9;
	    border-right: 1px solid #C4C4C0;

	    font-size: 12px;
	    font-weight: bold;
	    color: #797470;

	    text-decoration: none;

	    &:hover {
		color: #BB3900;
		text-decoration: underline;
	    }

	    &:focus { outline: 0; }
	}
    }
}

.inlineBlockContainer {
    font-size: 0;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

a {
    color: #222222;
    text-decoration: underline;

    &:visited {
	color: #222222;
	text-decoration: underline;
    }
    
    &:hover {
	color: #BB3900;
	text-decoration: none;
    }	
}
