#tournamentHeader {
    margin-bottom: 7px;
}

#newTournament {
    background-color: #FFF;
    
    border-bottom: 1px solid #222;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 15px;
}

#editTournament {
    background-color: #FFF;
    
    border-bottom: 1px solid #222;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 15px;
}

.tournamentPanel {
    background-color: #FFF;
    border-bottom: 1px solid #222;
    
    padding-top: 15px;
    margin-top: 20px;

    h2 {
	margin-top: 0;
	margin-left: 15px;
    }

    .tournamentRow {
	padding: 10px;
	
	h3 { margin: 0; margin-bottom: 5px; }
	
	table { width: 100% }

	table td {
	    width: 50%;
	}
    }

    .lightRow { 
	background-color: #F1F1F1;
	border-left: 7px solid #FFFFFF;
    }
    
    .darkRow { 
	background-color: #E3E3E3; 
	border-left: 7px solid #DBDBDB;
    }
}